/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */

body {
  margin: 0;
  /* text-aligh has to be set to a parent element */
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

h1 {
  /* set up your own margin if you are setting youre own width
  width: 20%;
  margin: 0 auto 0 auto; */
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  color: #e84a5f;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #e84a5f;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #e84a5f;
}


hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #ff847c;
	border-width: 5px;
  width: 4%;
  clear: both;
}

/* top container */
.top-container {
  width: 100%;
  background: #84B7E3;
  padding: 100px 0;
  position: relative;
}

.intro-paragraph{
  margin: 10px auto 40px auto;
  width: 70%;
}

#pro {
  text-decoration: underline;
}

.programmer {
  margin: 0;
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 320px;
}

@media (max-width:900px){
  .top-cloud{
    display: none;
  }
  .bottom-cloud{
    display: none;
  }
  .mountain{
    display: none;
  }

  .programmer {
    padding-bottom: 100px;
    font-weight: normal;
  }
}

/* middle container */
.middle-container {
  background: #8AA5ED;
}

#profile-picture {
  width: 200px;
  padding-top: 100px;
}

.lang {
  display: flex;
  padding: 5% 17%;
}

.skill-row {
  width: 50%;
}

.html5 {
  width: 25%;
}

.css3 {
  width: 25%;
}

.contact-me {
  padding-bottom: 100px;
}

.giphy-embed {
  width: 200px;
  height: 100px;
}

/* bottom container */
.bottom-container {
  background: #84B7E3;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-link {
  color: #e84a5f;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #A38AED;
  padding: 20px 0;
}

.copyright{
 font-size: .75rem;
 color: white;
 font-family: 'Montserrat', sans-serif;
}

.contact-me {
  width: 50%;
  margin: 0 auto 0 auto;
}


.btn {
  background: #84B7E3;
  background-image: -webkit-linear-gradient(top, #84B7E3, #8AA5ED);
  background-image: -moz-linear-gradient(top, #84B7E3, #8AA5ED);
  background-image: -ms-linear-gradient(top, #84B7E3, #8AA5ED);
  background-image: -o-linear-gradient(top, #84B7E3, #8AA5ED);
  background-image: linear-gradient(to bottom, #84B7E3, #8AA5ED);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  
  .btn:hover {
  background: #FF847C;
  background-image: -webkit-linear-gradient(top, #FF847C, #FECEAB);
  background-image: -moz-linear-gradient(top, #FF847C, #FECEAB);
  background-image: -ms-linear-gradient(top, #FF847C, #FECEAB);
  background-image: -o-linear-gradient(top, #FF847C, #FECEAB);
  background-image: linear-gradient(to bottom, #FF847C, #FECEAB);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  }